.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 150%;

}

#red {
    background: red;
}

#orange {
    background: orange;
    margin-left: 30px;
}

#yellow {
    background: yellow;
    margin-left: 60px;
}

#green {
    background: green;
    margin-left: 90px;
}

#blue {
    background: blue;
    margin-left: 120px;
}

#violet {
    background: violet;
    margin-left: 150px;
}
