.row-content{
    margin: 0 auto;
    padding: 30px 0 30px 0;
    border-bottom: 1px ridge;
}

.row-footer{
    background-color: #afafaf;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.jumbotron{
    margin: 0 auto;
    background: #7986cb;
    color: white;

}

.backgound {
    background: url("../img/pizza.jpg");
}

address{
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}

body{
    padding: 50px 0 0 0;
    z-index: 0;
}

.navbar-inverse {
    background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

#active {
    color: #373737;
}